.win {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 1px solid #ffffff;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	box-sizing: border-box;
	box-shadow: -1px -1px 0 0px #DFDFDF,0 -1px 0 0px #DFDFDF,-1px 0 0 0px #DFDFDF, 0px 0px 0 1px #0A0A0A;
	background: #C0C0C0;
}
.win.focused {
	box-shadow: 1px 1px 3px #222;
}
.win.maximized {
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.win.disabled .win-iframe {
	filter: blur(2px);
}
.win .win-titlebar {
	height: 19px;
	min-height: 19px;
	margin: 1px 1px;
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	user-select: none;
	display: flex;
	align-items: center;
	background: linear-gradient(
		90deg,
		#808080,
		#B4B4B4
	)
}
.win.maximized .win-titlebar {
	margin: 0px 0px;
}
.win.focused .win-titlebar {
	background: linear-gradient(
		90deg,
		#000080,
		#1083D0
	)
}
.win .win-btn {
	border: 1px solid #DFDFDF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	/* box-shadow: -1px -1px 0 0px #DFDFDF, 1px 1px 0 0px #0A0A0A; */
	box-shadow: -1px -1px 0 0px #fff,0 -1px 0 0px #fff,-1px 0 0 0px #fff, 0px 0px 0 1px #0A0A0A;
	font-size: 6pt;
	font-weight: bold;
	line-height: 0;
	width: 15px;
	height: 13px;
	min-width: 15px;
	min-height: 13px;
	padding: 0 0;
	margin: 0;
	margin-right: 2px;
	color: #000;
	background-color: #C0C0C0;
}
.win .win-btn:active {
	border: none;
	box-shadow: -1px -1px 0 0px #0A0A0A,0 -1px 0 0px #0A0A0A,-1px 0 0 0px #0A0A0A, 0px 0px 0 1px #fff;
	background-color: #858585;
}
.win .win-btn-close {
	margin: 0 2px;
}
.win .win-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	flex-grow: 1;
}
.win .win-icon {
	margin: 0 0;
	margin-left: 2px;
	padding: 0;
	line-height: 1.5;
}
.win .win-iframe {
	min-height: 0;
	min-width: 0;
	border: none;
	flex-grow: 1;
}
.win .win-resize-handle {
	width: 10px;
	height: 10px;
	background-color: #888;
	border-top-left-radius: 100%;
	cursor: nwse-resize;
	position: absolute;
	bottom: 0;
	right: 0;
}
